<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of data">
      <td>{{ recipe.id }}</td>
      <td>{{ recipe.title }}</td>
      <td>{{ recipe.description }}</td>
      <td>{{ recipe.ingredients }}</td>
      <td class="action">
        <button (click)="onView(recipe.id)">View</button>
        <button (click)="onEdit(recipe.id)">Edit</button>
        <button (click)="onDelete(recipe.id)">Delete</button>        
      </td>
    </tr>
  </tbody>
</table>